.container {
  text-align: center;
  background-color: black;
  border: none;
  position: fixed;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.fourOFour {
  font-size: 128px;
  color: white;
}
.red {
  color: red;
}
.subtext {
font-size: 32px;
}