.Layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
}
.Header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  overflow: hidden;
  z-index: 1;
}
.Content {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50px;
  right: 0;
}
.Footer {
  position: fixed;
  width: 100%;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

a {
  color: inherit;
}
