.pageLayout {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.tableLayout {
  width: 80%;
  margin-bottom: 20px;
}
.tableItem {
  font-size: 16px;
}
.tableCellLeft {
  padding: 8px 8px 8px 8px;
  text-align: left;
  // border-width: 3px;
  // border-style: solid;
  // border-image:
  //   linear-gradient(
  //     to right, 
  //     lightgrey, 
  //     rgba(0, 0, 0, 0)
  //   ) 0 0 100%;
}
.tableCellRight {
  padding: 8px 8px 8px 8px;
  text-align: right;
 }
.name {
  text-align: center;
  font-size: 40px;
  letter-spacing: 5px;
}
.code {
  font-size: 24px;
  margin-bottom: 40px;
}
.code2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.amount {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
  border-bottom: solid white 3px;
  border-top: solid white 3px;

}
.total {
  font-size: 24px;
  text-align: center;
  margin-bottom: 28px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.deleteButton {
  margin: 0 15px;
  padding: 5px 0px 5px 0;
  border-radius: 3px;
  color: white;
  font-size: 24px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: red;
  outline: none;
}
.updateButton {
  margin: 0 15px;
  padding: 5px 0px 5px 0;
  border-radius: 3px;
  color: red;
  border-color: red;
  font-size: 24px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: white;
  outline: none;
}
.cancelButton {
  margin: 0 15px;
  padding: 5px 0px 5px 0;
  border-radius: 3px;
  color: red;
  border-color: red;
  font-size: 24px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: lightgrey;
  outline: none;
}
.flagLogo {
  position: relative;
  // display: block;
  width: 90px;
  height: 60px;
  border: 1px solid white !important;
  margin: 24px 0 20px 0;
  border-radius: 10px !important;
}
.flagLogo img {
  border-radius: 10px;
}
.logo {
  width: 25%;
  margin: 24px 0 20px 0;
}
.withBackground {
  background-color: white;
  border-radius: 50%;
}
.solidDivider {
  margin-bottom: 60px;
  width: 80%;
  margin-bottom: 24px;
}
