.pageLayout {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.currencyImg {
  display: block;
  margin-left: auto;
  margin-top: 1rem;
  max-width: 40px;
  max-height: 32px;
  border-radius: 16px;
  margin-right: 1rem;
}
.name {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 5px;
}
.code {
  font-size: 24px;
  margin-bottom: 40px;
}
.amount {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}
.total {
  font-size: 24px;
  text-align: center;
  margin-bottom: 28px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.deleteButton {
  margin: 0 15px;
  display: flex;
  padding: 5px 0px 5px 0;
  border-radius: 3px;
  color: white;
  font-size: 24px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: red;
  outline: none;
}
.updateButton {
  margin: 0 15px;
  display: flex;
  padding: 5px 0px 5px 0;
  border-radius: 3px;
  color: red;
  border-color: red;
  font-size: 24px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: white;
  outline: none;
}
.cancelButton {
  margin: 0 15px;
  display: flex;
  padding: 5px 0px 5px 0;
  border-radius: 3px;
  color: red;
  border-color: red;
  font-size: 24px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: lightgrey;
  outline: none;
}
.logo {
  display: block;
  width: 25%;
  border: none;
  margin: 24px 0 20px 0;
  border-radius: 10px;
}
.withBackground {
  background-color: white;
  border-radius: 60px;
}
.solidDivider {
  margin-bottom: 60px;
  width: 80%;
  margin-bottom: 24px;
}
