.homeLayout {
  flex: 1;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  text-align: center;

  height: 100%;
  width: 100%;
  margin-top: 50px;
}
.items {
  text-align: left;
 }
.item {
  margin-bottom: 12px;
 }