@import "../theme/fonts";

#root {
  $background: #000000;
  $background-color: #000000;
  $color: #ffffff;
  $border: #ffffff;
  $border-top: #ffffff;

}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $core-font, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--color);
}

button {
  font-family: $core-font;
  color: var(--color);
  outline-color: red;
  border: 1px solid var(--border);
  background-color: var(--background-color);
}
input,
select {
  border: 1px solid red;
  font-family: $core-font;
  font-size: 17px;
  padding: 5px 0 5px 5px;
  border-radius: 5px;
  background-color: white;
}
hr {
  border-top: 3px solid var(--border-top);
}
p {
  color: var(--background-color);
  background-color: var(--color);;
}
img {
  border: 1px solid var(--border);
}

code {
  font-family: $core-font, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
