.ledgerLayout {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.currencyImg {
  display: block;
  margin-left: auto;
  margin-top: 1rem;
  max-width: 44px;
  max-height: 32px;
  margin-right: 1rem;
}
.currencyImg img {
  border-radius: 16px; //!important;
  border: 1px solid white !important;
}
.prolo {
  text-align: center;
  font-weight: 900;
  font-size: 45px;
  letter-spacing: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.balance {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.heading {
  font-size: 24px;
  font-weight: 700;
  margin-left: 1rem;
  letter-spacing: 8px;
}
.subheading {
  font-size: 20px;
  margin-left: 1rem;
  letter-spacing: 3px;
}
.solidDivider {
  // border-top: 3px solid white;
  margin-bottom: 20px;
  max-width: 80%;
}