.pocketLayout {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.currencyImg {
  display: block;
  margin-left: auto;
  margin-top: 1rem;
  max-width: 40px;
  max-height: 32px;
  border-radius: 16px;
  margin-right: 1rem;
}
.heading {
  font-size: 24px;
  margin-left: 1rem;
  letter-spacing: 8px;
}