.pocketLayout {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.currencyImg {
  display: block;
  margin-left: auto;
  margin-top: 1rem;
  max-width: 44px;
  max-height: 32px;
  margin-right: 1rem;
}
.currencyImg img {
  border-radius: 16px; //!important;
  border: 1px solid white !important;
}
.heading {
  font-size: 24px;
  font-weight: 700;
  margin-left: 1rem;
  letter-spacing: 8px;
}