.heading {
  font-size: 24px;
  font-weight: 700;
  margin-left: 1rem;
  letter-spacing: 8px;
}
.contentContainer {
  width: 100%;
  margin-bottom: 64px;
}
.content {
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 100%;
  position: relative;
  max-width: 300px;
  display: grid;
  grid-template-columns: 40% 23% 37%;
  grid-template-rows: 40px auto auto auto 40px;
  gap: 0 0;
  // align-items: stretch;
  cursor: default;
  margin: 10px 0;
}
.darkactivecard {
  font-size: 24px;   
  color: white;
}
.darkinactivecard {
  font-size: 18px;   
  color: white;
}
.lightactivecard {
  font-size: 24px;   
  color: dimgrey;
}
.lightinactivecard {
  font-size: 18px;   
  color: dimgrey;
}
.title {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  background-color: red;
  color: white;
  font-weight: 900;
  letter-spacing: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 4px;
}
.activedarktitle {
  border-right: solid 4px lightgrey;
  border-left: solid 4px lightgrey;
  border-top: solid 4px lightgrey;
  border-bottom: solid 1px lightgrey;
}
.inactivedarktitle {
  border-right: solid 2px lightgrey;
  border-left: solid 2px lightgrey;
  border-top: solid 2px lightgrey;
  border-bottom: solid 1px lightgrey;
}
.activelighttitle {
  border-right: solid 4px dimgrey;
  border-left: solid 4px dimgrey;
  border-top: solid 4px dimgrey;
  border-bottom: solid 1px dimgrey;
}
.inactivelighttitle {
  border-right: solid 2px dimgrey;
  border-left: solid 2px dimgrey;
  border-top: solid 2px dimgrey;
  border-bottom: solid 1px dimgrey;
}
.key {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2px;
  padding: 8px;
}
.activedarkkey {
  border-right: solid 1px lightgrey;
  border-left: solid 4px lightgrey;
  background-color: #292929;
}
.inactivedarkkey {
  border-right: solid 1px lightgrey;
  border-left: solid 2px lightgrey;
  background-color: #292929;
}
.activelightkey {
  border-right: solid 1px dimgrey;
  border-left: solid 4px dimgrey;
  background-color: whitesmoke;
}
.inactivelightkey {
  border-right: solid 1px dimgrey;
  border-left: solid 2px dimgrey;
  background-color: whitesmoke;
}
.value {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 14px;
  font-weight: 100;
  padding: 8px;
  white-space: pre-wrap;
  word-break: break-word;
  letter-spacing: 2px;
}
.activedarkvalue {
  border-right: solid 4px lightgrey;
  background-color: #292929;
}
.inactivedarkvalue {
  border-right: solid 2px lightgrey;
  background-color: #292929;
}
.activelightvalue {
  border-right: solid 4px dimgrey;
  background-color: whitesmoke;
}
.inactivelightvalue {
  border-right: solid 2px dimgrey;
  background-color: whitesmoke;
}
.balancevaluetitle {
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: right;
  font-size: 14px;
  font-weight: 100;
  padding: 4px;
  white-space: pre-wrap;
  letter-spacing: 2px;
}
.darkbalancevaluetitle {
  background-color: #292929;
}
.lightbalancevaluetitle {
  background-color: whitesmoke;
}
.balancevalue {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 14px;
  font-weight: 100;
  padding: 4px;
  white-space: pre-wrap;
  word-break: break-word;
  letter-spacing: 2px;
}
.lastkey {
  border-bottom-left-radius: 10px;
}
.activedarklastkey {
  border-left: solid 4px lightgrey;
  border-top: solid 1px lightgrey;
  border-bottom: solid 4px lightgrey;
  background-color: #292929;
}
.inactivedarklastkey {
  border-left: solid 2px lightgrey;
  border-top: solid 1px lightgrey;
  border-bottom: solid 2px lightgrey;
  background-color: #292929;
}
.activelightlastkey {
  border-left: solid 4px dimgrey;
  border-top: solid 1px dimgrey;
  border-bottom: solid 4px dimgrey;
  background-color: whitesmoke;
}
.inactivelightlastkey {
  border-left: solid 2px dimgrey;
  border-top: solid 1px dimgrey;
  border-bottom: solid 2px dimgrey;
  background-color: whitesmoke;
}
.lastvalue {
  grid-column-start: 2;
  grid-column-end: 4;
  border-bottom-right-radius: 10px;
}
.activedarklastvalue {
  border-right: solid 4px lightgrey;
  border-top: solid 1px lightgrey;
  border-bottom: solid 4px lightgrey;
  background-color: #292929;
}
.inactivedarklastvalue {
  border-right: solid 2px lightgrey;
  border-top: solid 1px lightgrey;
  border-bottom: solid 2px lightgrey;
  background-color: #292929;
}
.activelightlastvalue {
  border-right: solid 4px dimgrey;
  border-top: solid 1px dimgrey;
  border-bottom: solid 4px dimgrey;
  background-color: whitesmoke;
}
.inactivelightlastvalue {
  border-right: solid 2px dimgrey;
  border-top: solid 1px dimgrey;
  border-bottom: solid 2px dimgrey;
  background-color: whitesmoke;
}
.anchorContainer {
  right: 10px;
  bottom: auto;
  left: auto;
  top: 9px;
  position: absolute;
}
.anchor {
  background-color: white;
  border-radius: 30%;
  border: solid 1px lightgrey;
  padding: 4px;
}
.cloneContainer {
  right: 78px;
  bottom: 4px;
  left: auto;
  top: auto;
  position: absolute;
}
.cloneContainerNoDelete {
  right: 44px;
  bottom: 4px;
  left: auto;
  top: auto;
  position: absolute;
}
.clone {
  background-color: lightgrey;
  border-radius: 30%;
  border: solid 1px #292929;
  padding: 4px;
}
.editContainer {
  right: 44px;
  bottom: 4px;
  left: auto;
  top: auto;
  position: absolute;
}
.editContainerNoDelete {
  right: 10px;
  bottom: 4px;
  left: auto;
  top: auto;
  position: absolute;
}
.edit {
  background-color: white;
  border-radius: 30%;
  border: solid 1px #292929;
  padding: 4px;
}
.trashContainer {
  right: 10px;
  bottom: 4px;
  left: auto;
  top: auto;
  position: absolute;
}
.trash {
  background-color: red;
  border-radius: 30%;
  border: solid 1px #292929;
  padding: 4px;
  color: white;
}
.refresh[anim='1'] {
  animation: anim 1s 1, scaleup 1s 1;
}
@keyframes anim {
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);    
  }
}
@keyframes scaleup {
  50% {
    transform: scale(1.25);
  }
}