.settings {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1rem;
}
.heading {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 8px;
  text-align: center;
  margin: 2rem 0 1.5rem 0;
}
