.title {
  font-size: 18px;
  padding: 8px;
}
.buttons {
  display: flex;
  // justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  margin-bottom: 20px;
}
.button {
  display: flex;
  justify-content: space-between;
  padding: 5px 8px 5px 8px;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  height: 2rem;
  background-color: red;
  outline: none;
}
.listingAddButton {
  margin-left: 1rem;
  margin-top: 20px;
}
.modalAddButton {
  padding: 5px 20px 5px 20px;
  margin-bottom: 20px;
  border: 1px solid white;
}
.logo {
  padding-left: 8px;
}
.orderByButton {
  display: flex;
  justify-content: space-between;
  padding: 5px 8px 5px 8px;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  height: 2rem;
  background-color: red;
  outline: none;
  margin: 20px 6px 0 6px;
}

