.title {
  font-size: 24px;
  letter-spacing: 5px;
  margin-bottom: 12px;
}
.buttons {
  display: grid;
  gap: 8px;
  grid-template: 2.75rem 1.25rem / 92px 92px 92px;
  justify-content: flex-start;
  margin-left: 8px;
}
.button {
  border-radius: 5px;
  font-size: 15px;
  outline: none;
}
.active {
  background-size: 5.7rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
