.heading {
  text-align: center;
  font-size: 32px;
  letter-spacing: 8px;
  color: white;
  margin-bottom: 20px;
}
.subheading {
  text-align: left;
  font-size: 24px;
  letter-spacing: 5px;
  color: white;
  margin-bottom: 20px;
}
.helpCircle{
  margin-left: -6px;
}
.solidDivider {
  border-top: 3px solid white;
  margin-bottom: 20px;
  max-width: 80%;
}
.buttons {
  display: grid;
  row-gap: 8px;
  grid-template: 2.75rem 2.75rem / 30% 30% 30%;
  justify-content: space-evenly;
}
.dirButtons {
  display: grid;
  row-gap: 8px;
  grid-template: 2.75rem 2.75rem / 30% 30%;
  justify-content: space-evenly;
}
.button {
  padding: 4px;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  background-color: black;
  color: white;
  border-color: white;
}
.active {
  font-weight: 900;
  background-color: dimgrey;
}