.form {
  display: flex;
  flex-flow: column;
  text-align: center;
}
.span {
  color: red;
}
.button {
  padding: 5px 12px 5px 12px;
  border-radius: 5px;
  background-color: red;
  color: white;
}
.formHeader {
  font-size: 32px;
  margin: 25px 0;
}
.inputWrapper {
  margin: 0 auto 10px;
}
.input {
  font-size: 17px;
  padding: 5px 0 5px 5px;
  border-radius: 5px;
}
.send {
  margin-top: 5px;
}
