.Header {
  display: grid;
  grid-template: 50px / 33% 33% 33%;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 20px;
  font-size: 32px;
  color: white;
  background: red;
}
.AppTitle {
  font-weight: bolder;
  justify-self: center;
  cursor: default;
}
.Portfolio {
  font-weight: lighter;
  justify-self: right;
  font-size: 16px;
  cursor: default;
}
.hidden {
  visibility: hidden;
  font-size: 16px;
}
