.intervalContainer {
  display: grid;
  grid-template: 25px / 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
  justify-content: space-evenly;
  text-align: center;
  width: 90%;
  margin: 5px 0px 20px 0px;
}
.intervalSelectionHeading {
  text-align: center;
  font-size: 16px;
  margin-bottom: 8px;
  border-bottom: 1px solid white;
}