.listRow li {
  display: inline-block;
  vertical-align: middle;
  padding-left: 0px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.logoContainer {
  width: 8%;
  margin-left: 8px;
}
.withBackground {
  background-color: white;
  border-radius: 15px !important;
}
.flag {
  border: 1px solid white !important;
  border-radius: 2px !important;
}
.name {
  margin-left: 20px;
  font-size: 18px;
  width: 35%;
  border-bottom: solid 1px dimgrey;
}
.totalValue {
  width: 35%;
  font-size: 18px;
  border-bottom: solid 1px dimgrey;
}
.editIcon {
  width: 8%;
}
.fundingValue1 {
  width: 25%;
  margin-left: 20px;
  font-size: 18px;
  border-bottom: solid 1px dimgrey;
}
.fundingValue2 {
  width: 24%;
  font-size: 18px;
  border-bottom: solid 1px dimgrey;
}
.date {
  width: 24%;
  font-size: 18px;
  padding-left: 576px;
  border-bottom: solid 1px dimgrey;
}
.amount {
  color: grey;
  font-size: 16px;
}
.type {
  color: grey;
  font-size: 16px;
}
.hidden {
  visibility: hidden;
  font-size: 16px;
}
