.listRow li {
  display: inline-block;
  vertical-align: middle;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.totalValue {
  width: 35%;
  font-size: 18px;
  border-bottom: solid 1px dimgrey;
}
.logoContainer {
  width: 10%;
}
.editIcon {
  width: 10%;
}
.name {
  font-size: 18px;
  width: 45%;
  border-bottom: solid 1px dimgrey;
}
.amount {
  color: grey;
  font-size: 16px;
}
.logo {
  position: relative;
  display: block;
  width: 25px;
  left: -25px;
  border: none;
}
.withBackground {
  background-color: white;
  border-radius: 12.5px;
}
.hidden {
  visibility: hidden;
  font-size: 16px;
}
