.NavButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 100%;
  cursor: default;
}

.Icon {
  margin-top: 2px;
  font-size: 24px;
}

.Label {
  font-size: 14px;
}

.active {
  color: red;
}