.content {
  max-width: 1024px;
  width: 100%;
  padding: 0 4%;
  // padding-top: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  max-height: 230px;
  background-color: #292929;
  margin: 10px;
  border-radius: 10px;
  // box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 18px;   
  // transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: default;
  padding: 12px;
  // transition: all 0.3s ease;
}
.card .title {
  width: 100%;
  // position: absolute;
  // top: 15px;
  // bottom: auto;
  // margin: 0;
  margin-bottom: 4px;
  text-align: left;
  // margin-top: 30px;
  // color: white;
  font-weight: 600;
  text-transform: lowercase;
  letter-spacing: 4px;
}
.card .text {
  // position: absolute;
  // top: 30px;
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
  text-align: left;
  margin-bottom: 8px;
  // color: white;
  // font-weight: 200;
  letter-spacing: 2px;
  text-transform: lowercase;
  // opacity: 0;
  // max-height:0;
  // transition: all 0.3s ease;
}
.date {
  width: 100%;
  // position: absolute;
  // top: 15px;
  // bottom: auto;
  // margin: 0;
  margin-bottom: 16px;
  text-align: left;
  font-size: 14px;
  color: grey;
  // margin-top: 30px;
  // color: white;
  // font-weight: 00;
  text-transform: lowercase;
  // letter-spacing: 4px;
}