.content {
  max-width: 1024px;
  width: 100%;
  padding: 0 4%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  max-height: 300px;
  background-color: #292929;
  margin: 10px;
  border: solid 1px lightgrey;
  border-radius: 10px;
  font-size: 18px;   
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: default;
  padding: 12px;
}
.card .title {
  width: 100%;
  margin-bottom: 4px;
  text-align: left;
  font-weight: 600;
  letter-spacing: 4px;
}
.card .text {
  width: 94%;
  margin: 0 auto;
  font-size: 14px;
  text-align: left;
  white-space: pre-wrap;
  margin-bottom: 32px;
  letter-spacing: 2px;
}
.card .date {
  width: 100%;
  margin-bottom: 16px;
  text-align: left;
  font-size: 14px;
  color: grey;
  text-transform: lowercase;
}
.editContainer {
  right: 44px;
  bottom: 8px;
  left: auto;
  top: auto;
  position: absolute;
}
.edit {
  background-color: white;
  border-radius: 30%;
  padding: 4px;
}
.trashContainer {
  right: 10px;
  bottom: 8px;
  left: auto;
  top: auto;
  position: absolute;
}
.trash {
  background-color: red;
  border-radius: 30%;
  padding: 4px;
}
.collapsibleLayout {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
.marketHeading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 24px;
  display: flex;
  font-weight: 900;
}