.title {
  font-size: 18px;
  padding: 8px;
}
.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}
.refresh {
  padding: 5px 0 5px 0;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  width: 5rem;
  height: 2.5rem;
  margin-right: 1rem;
  background-color: red;
}
