@import "../theme/theme";

.settings {
  width: 100%;
  padding: 1rem;
}
.title {
  font-size: 36px;
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
}
.button {
  padding: 5px 12px 5px 12px;
  border-radius: 5px;
  border: 1px solid $secondary;
  background-color: $primary;
  font-family: $core-font;
  color: $secondary;
}