.currencyImg {
  position: relative;  
  margin-left: auto;
  margin-top: 1.5rem;
  width: 44px;
  height: 32px;
  margin-right: 1rem;
}
.currencyImg img {
  border-radius: 12px; //!important;
  border: 1px solid white !important;
}