.title {
  font-size: 24px;
  letter-spacing: 5px;
  margin-bottom: 12px;
}
.buttons {
  display: grid;
  gap: 8px;
  grid-template: 2.75rem / 92px 92px;
  justify-content: flex-start;
  margin-left: 8px;
}
.button {
  padding: 4px;
  border-radius: 5px;
  outline: none;
}
.inactive { 
  font-weight: lighter;
  font-size: 12px;
}
