.title {
  font-size: 18px;
  padding: 8px;
}
.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}
.button {
  padding: 5px 0 5px 0;
  border-radius: 5px;
  font-size: 15px;
  width: 5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.active {
  font-weight: bolder;
  font-size: 21px;
}